.footer {
  background-color: #ffffff;
  color: #000000;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.helpline {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.footer-social {
  display: flex;
}

.social-icon {
  font-size: 1.5rem;
  color: #060606;
  margin-right: 10px;
}

.social-icon:hover {
  color: #00aced; /* Change color on hover */
}
